
<article class="message is-dark">
  <div class="message-header">
    <p>Editando Bar</p>
</div>
 </article>   
	<%= render 'form', company: @company %>
<br>
<%= link_to 'Mostrar', @company ,class: "button is-link"%> 
<%= link_to 'Voltar', companies_path ,class: "button is-info is-inverted"%>