<article class="message is-dark">
  <div class="message-header">
    <p>Editando a Mesa</p>
</div>
 </article>   
	<%= render 'form', table: @table %>
<br>
<%= link_to 'Mostrar', @table ,class: "button is-link"%> 
<%= link_to 'Voltar', tables_path ,class: "button is-info is-inverted"%>