<article class="message is-dark">
	<div class="message-header">
		<p>Nova Mesa</p>
	</div>
</article>   
<%= render 'form', table: @table %>
<br>
<%= link_to 'Voltar', tables_path ,class: "button is-info is-inverted"%>
